<div id="header" class="clearfix shadow">
	<div id="sitetitle" class="clearfix">
		<h1>Hello, Rails!</h1>
	</div>
</div>

<div id="nav" class="clearfix">
	<ul>
		<li>
			<%= link_to "Offers", offers_path %>
		</li>
	</ul>
</div>